server:
  servlet:
    session:
      cookie:
        name: SESSIONID
    application-display-name: Lobanoff

spring:
  main:
    allow-bean-definition-overriding: true
  datasource:
    url: jdbc:postgresql://{your-url}
    username: {username}
    password: {password}
  jpa:
    properties:
      hibernate:
        globally_quoted_identifiers: true
    show-sql: true
    hibernate:
      ddl-auto: update
  sql:
    init:
      mode: always
  liquibase:
    enabled: true
  mail:
    host: smtp.gmail.com
    username: {username}
    password: {password}
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
          starttls:
            enable: true

jwt:
  secret:
    access: {access}
    refresh: {refresh}

mail:
  from: {from}
  sender: Lobanoff bank
  subject: Please verify your account

