.account-page {
    background-color: #f6f7f8;
}

.account-container {
    border-radius: 24px 24px 0 0;
    display: block;
    margin: 16px auto 0;
    position: relative;
    width: 1152px;
}

.account-container-header {
    display: flex;
    min-height: 140px;
    padding: 24px 24px 40px;
    position: relative;
    width: calc(100% - 48px);
    z-index: 2;
    flex-direction: column;
}

.account-container-header-content {
    align-items: center;
    display: flex;
}

.account-container-go-back {
    flex-basis: 40px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 40px;
    margin-right: 8px;
    width: 40px;
    -webkit-tap-highlight-color: transparent;
    display: inline-flex;
}

.account-container-go-back-anchor {
    cursor: pointer;
    background-color: initial;
    text-decoration: none;
}

.account-container-go-back-span {
    color: black;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    position: relative;
    vertical-align: top;
    width: 40px;
    height: 40px;
}

.account-name-container {
    color: black;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    height: 28px;
    max-width: 307px;
    white-space: nowrap;
    opacity: 1;
    transition: opacity .5s cubic-bezier(0,0,.4,1);
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.account-name {
    font-size: 32px;
    font-weight: bold;
}

.account-name-editor {
    width: 200px;
}

.account-name-edit-container {
    flex-basis: 24px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 8px;
}

.account-name-edit {
    cursor: pointer;
    text-decoration: none;
    height: 22px;
    padding-left: 4.5px;
    padding-top: 4.5px;
    width: 22px;
    font-size: 20px;
}

.account-deposit {
    margin-left: 40px;
    margin-top: 12px;
    font-size: 36px;
    font-weight: bold;
}

.account-card {
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    will-change: box-shadow;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    padding: 16px;
    user-select: none;
    margin-top: 8px;
    margin-bottom: 8px;
    align-items: flex-start;
    display: flex;
    width: 240px;
}

.account-requisites-container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    padding-top: 26px;
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
    box-sizing: border-box;
}

.account-requisites-content {
    display: block;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 18px;
    vertical-align: top;
}

.account-requisites-table {
    margin-top: 32px;
    margin-bottom: 32px;
}

.account-requisites-table-item {
    border-bottom: 1px solid #dddfe0;
    box-sizing: border-box;
    padding: 23px 12px;
}

.account-requisites-table-item-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.account-requisites-table-item-content-title {
    color: #959ba4;
    font-weight: 400;
    width: 50%;
    word-wrap: break-word;
    box-sizing: border-box;
    font-size: 17px;
    letter-spacing: inherit;
    line-height: 24px;
    padding-right: 10%;
}

.account-requisites-table-item-content-text {
    padding-right: 0;
    width: 50%;
    box-sizing: border-box;
    font-size: 17px;
    letter-spacing: inherit;
    line-height: 24px;
}

.account-requisites-title {
    background: transparent;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1104px;
    min-width: 1104px;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 32px;
    padding-top: 40px;
}

.account-requisites-title-back {
    align-items: center;
    display: flex;
    margin-right: 9px;
    position: relative;
    cursor: pointer;
    width: 32px;
    height: 32px;
    color: black;
}

.account-requisites-title-content {
    cursor: default;
    overflow: hidden;
}

.account-actions {
    display: grid;
    grid-template-columns: 150px 150px;
    column-gap: 32px;
    row-gap: 32px;
}

.action-card {
    height: 100%;
    width: 172px;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    will-change: box-shadow;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    padding: 16px;
    user-select: none;
    align-items: flex-start;
    display: flex;
}

.action-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.action-card-icon {
    flex-shrink: 0;
    margin-right: 12px;
    margin-top: 3px;
}

.action-card-extend {
    text-decoration: none;
    color: black;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.action-card-name {
    margin-top: 2px;
    align-items: center;
    display: flex;
    width: 100%;
}

.action-card-text {
    display: block;
    line-height: 20px;
    overflow: hidden;
    position: relative;
    text-overflow: clip;
    white-space: nowrap;
    width: 100%;
}
