.transfer-page {
    background-color: #f6f7f8;
}

.transfer-content {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: default;
    padding: 16px 20px 20px;
    width: 672px;
    margin: 0 auto;
}

.transfer-title {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}

.transfer-title-text {
    color: #000000cc;
    display: inline-block;
    vertical-align: middle;
}

.transfer-choice {
    margin: 0 -10px -14px;
}

.transfer-choice-table {
    margin: 0 -10px -8px;
    display: flex;
    flex-wrap: wrap;
}

.transfer-choice-table-elem {
    margin-bottom: 8px;
    padding: 4px 20px;
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    vertical-align: top;
    width: 100%;
    align-items: center;
    border-radius: 8px;
    display: flex;
    height: 56px;
    position: relative;
    cursor: pointer;
}

.transfer-choice-table-elem:hover {
    background-color: rgba(171, 171, 171, 0.2);
}

.transfer-choice-table-elem-icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    position: relative;
    vertical-align: top;
    align-items: center;
    justify-content: center;
}

.transfer-choice-table-elem-text {
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    color: #000000cc;
    max-height: 48px;
    overflow: hidden;
    padding-left: 12px;
    height: 24px;
    transition-duration: .3s;
    transition-property: height;
    transition-timing-function: ease-in-out;
    display: block;
    position: relative;
    visibility: visible;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.transfer-phone-container {
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: default;
    width: 1104px;
    margin: 0 auto;
}

.transfer-phone-title {
    background: transparent;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1104px;
    min-width: 1104px;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 32px;
    padding-top: 40px;
}

.transfer-phone-title-back {
    align-items: center;
    display: flex;
    margin-right: 9px;
    position: relative;
    cursor: pointer;
    width: 32px;
    height: 32px;
    color: black;
}

.transfer-phone-title-content {
    cursor: default;
    overflow: hidden;
}

.transfer-phone-main {
    justify-content: center;
    display: flex;
    flex-direction: column;
    --simba-column-gap: 32px;
    width: 672px;
    padding-bottom: 32px;
    vertical-align: baseline;
}

.transfer-phone-main-content {
    margin-bottom: 32px;
    height: 100%;
    width: 672px;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    cursor: default;
    padding: 16px 20px 20px;
}

.transfer-phone-main-content-title {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
    vertical-align: middle;
}

.transfer-phone-main-content-body {
    margin-bottom: 0;
    height: 56px;
    cursor: pointer;
    position: relative;
    text-align: left;
    user-select: none;
    width: 632px;
    vertical-align: middle;
    justify-content: stretch;
}

.transfer-phone-main-content-body-2 {
    margin-bottom: 0;
    height: 56px;
    cursor: pointer;
    position: relative;
    text-align: left;
    user-select: none;
    width: 622px;
    vertical-align: middle;
    justify-content: stretch;
}

.transfer-phone-main-content-body-selector {
    align-items: center;
    background-color: #244a7f0f;
    box-sizing: border-box;
    transition-duration:  0.25s;
    transition-property: background-color;
    transition-timing-function: ease;
    border-radius: 12px;
    height: 56px;
    padding: 6px 16px;
}

.transfer-phone-main-content-body-selector:hover {
    background-color: #244a7f14;
}

.transfer-phone-main-content-body-selector-2 {
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    transition-duration:  0.25s;
    transition-property: background-color;
    transition-timing-function: ease;
    border-radius: 12px;
    height: 56px;
    padding: 6px 16px;
}

.transfer-phone-main-content-body-selector-2:hover {
    background-color: #244a7f14;
}

.transfer-phone-main-content-body-selector-icon {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    margin-right: 12px;
}

.transfer-phone-main-content-body-selector-body {
    align-self: stretch;
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    position: relative;
    width: 95%;
}

.transfer-phone-main-content-body-selector-body-account {
    overflow: hidden;
    position: absolute;
    width: 100%;
    transform: scale(1) translateY(-8px);
    margin: 10px 0;
    text-align: left;
    text-overflow: ellipsis;
    transform-origin: 0 0;
    white-space: nowrap;
    will-change: color;
}

.transfer-phone-main-content-body-selector-body-deposit {
    padding: 20px 0 0;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    min-width: 100%;
    vertical-align: top;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.transfer-phone-main-content-body-selector-body-expand {
    align-items: flex-end;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 auto;
    cursor: pointer;
    transition-duration: .25s;
    transition-property: color,transform;
    will-change: transform,color;
}

.transfer-phone-main-content-body-selector-body-input {
    opacity: 1;
    appearance: textfield;
    background: transparent;
    border: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    outline: 0;
    top: 0;
    width: 100%;
}

.transfer-phone-main-content-body-input {
    flex-direction: row;
    display: flex;
    width: 100%;
    flex: 1;
    min-width: 0;
    cursor: text;
    position: relative;
    border-radius: 12px;
    height: 56px;
    padding: 6px 16px;
    background-color: #244a7f0f;
    text-align: left;
}

.transfer-phone-main-content-body-input-2 {
    align-self: stretch;
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    position: relative;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    overflow: hidden;
}

.transfer-button {
    display: flex;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    background-color: #ffdd2d;
    border: 0;
    border-radius: 12px;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    height: auto;
    justify-content: center;
    line-height: normal;
    margin: 0;
    max-width: 100%;
    outline: none;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    vertical-align: middle;
    width: 120px;
}

.transfer-button:hover {
    background-color: #ffcd33;;
}

.transfer-button-text {
    outline: none;
    align-items: center;
    border-radius: inherit;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    padding: 16px 24px;
    position: relative;
    min-width: 48px;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 632px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 2;
    top: 250px;
    left: 20px;
    margin-bottom: 5px;
    height: 100%;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    overflow: hidden;
    cursor: default;
    padding: 5px 5px 5px;
}
