server:
  servlet:
    session:
      cookie:
        name: SESSIONID
    application-display-name: Lobanoff
  port: ${PORT:8081}

spring:
  application:
    name: core-service
  rabbitmq:
    host: ${RABBIT_HOST:localhost}
    port: ${RABBIT_PORT:5673}
    username: ${RABBIT_USERNAME:lobanoff}
    password: ${RABBIT_PASSWORD:password}
    exchange: event-exchange
    template:
      transaction:
        queue: transaction-commission-queue
        routing:
          key: transaction.commission
      email:
        queue: email-sender-queue
        routing:
          key: email.sender
  main:
    allow-bean-definition-overriding: true
  datasource:
    url: ${database.url}
    username: ${database.username}
    password: ${database.password}
  jpa:
    properties:
      hibernate:
        globally_quoted_identifiers: true
    show-sql: true
    hibernate:
      ddl-auto: none
  sql:
    init:
      mode: always
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db-changelog-master.yml
    url: ${database.url}
    user: ${database.username}
    password: ${database.password}
    driver-class-name: org.postgresql.Driver
  mail:
    host: smtp.gmail.com
    username: {username}
    password: {password}
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
          starttls:
            enable: true


jwt:
  secret:
    access: {access}
    refresh: {refresh}

api:
  currency:
    url: "https://api.currencyapi.com/v3/latest?apikey="
    key: {key}

management:
  endpoints:
    web:
      exposure:
        include: "*"

eureka:
  client:
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://${EUREKA_HOST:localhost}:${EUREKA_PORT:8090}/eureka

database:
  url: jdbc:postgresql://${DATABASE_HOST:localhost}:${DATABASE_PORT:5432}/${DATABASE_NAME:Lobanoff bank}
  username: ${DATABASE_USERNAME:postgres}
  password: ${DATABASE_PASSWORD:postgres}
